.react-calendar-heatmap .color-scale-1 {
  fill: #f51a1a;
}

.react-calendar-heatmap .color-scale-2 {
  fill: #e66f06;
}

.react-calendar-heatmap .color-scale-3 {
  fill: #9e5b13;
}

.react-calendar-heatmap .color-scale-4 {
  fill: #8cc665;
}

.react-calendar-heatmap .color-scale-5 {
  fill: #043f02;
}

.react-calendar-heatmap .color-scale-6 {
  fill: #6a7c6b;
}